In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(42)

# writefile magic  und read_clipboard

In [124]:
s = """
a,b,c
2,3,4
5,6,7
"""

In [125]:
%%writefile ./data_temp/test.csv
a,b,c
2,3,4
5,9,7
3, ,

Overwriting ./data_temp/test.csv

In [126]:
df = pd.read_csv('./data_temp/test.csv', index_col='b')
df

   a    c
b
3  2  4.0
9  5  7.0
   3  NaN

In [127]:
%%writefile ./data_temp/test01.csv
a,b,c
21.0,3,4
5,9,7
3,4 ,4

Overwriting ./data_temp/test01.csv

In [128]:
df = pd.read_csv("./data_temp/test01.csv", header=0, sep=',')
df

      a  b  c
0  21.0  3  4
1   5.0  9  7
2   3.0  4  4

## Experimente mit pd.read_clipboard

In [129]:
%%writefile ./data_temp/player_numbers.csv
NBA, NFL, MBL, MLS
5, 11, 9, 11

Overwriting ./data_temp/player_numbers.csv

In [130]:
df = pd.read_clipboard(sep=',')
df

Empty DataFrame
Columns: [Dataframes-bequem-erstellen  (writefilemagic - read_clipboard)]
Index: []

In [131]:
s = """
a,b,c
2,3,4
5,6,7
"""

In [132]:
print(df.to_string())

Empty DataFrame
Columns: [Dataframes-bequem-erstellen  (writefilemagic - read_clipboard)]
Index: []

In [133]:
df = pd.read_clipboard()
df

Empty DataFrame
Columns: [Dataframes-bequem-erstellen, (writefilemagic, -, read_clipboard)]
Index: []

In [134]:
      last_name first_name   birthday gender type state       party
11970   Garrett     Thomas 1972-03-27      M  rep    VA  Republican
11971    Handel      Karen 1962-04-18      F  rep    GA  Republican
11972     Jones     Brenda 1959-10-24      F  rep    MI    Democrat
11973    Marino        Tom 1952-08-15      M  rep    PA  Republican
11974     Jones     Walter 1943-02-10      M  rep    NC  Republican

SyntaxError: invalid syntax (Temp/ipykernel_5988/2751851879.py, line 1)

In [135]:
df = pd.read_clipboard()
display(df)

print(df.to_string())

Empty DataFrame
Columns: [Dataframes-bequem-erstellen, (writefilemagic, -, read_clipboard)]
Index: []

Empty DataFrame
Columns: [Dataframes-bequem-erstellen, (writefilemagic, -, read_clipboard)]
Index: []

## Beisspiel: Wikipedia: Bundesliga Club mit copy und paste

In [136]:
Arminia Bielefeld	15th	1970–71	19	2020–21	2	0	0	–
FC Augsburgb	13th	2011–12	11	2011–12	11	0	0	–
Bayer Leverkusenb	6th	1979–80	43	1979–80	43	0	0	–
Bayern Munichb	1st	1965–66	57	1965–66	57	30	31	2021
VfL Bochum	1st (2. B)	1971–72	35	2021–22	1	0	0	–
Borussia Dortmunda	3rd	1963–64	55	1976–77	46	5	8	2012
Borussia Mönchengladbach	8th	1965–66	54	2008–09	14	5	5	1977
Eintracht Frankfurta	5th	1963–64	53	2012–13	10	0	1	1959
SC Freiburg	10th	1993–94	22	2016–17	6	0	0	–
Greuther Fürth	2nd (2. B)	2012–13	2	2021–22	1	0	3	1929
Hertha BSCa	14th	1963–64	38	2013–14	9	0	2	1931
1899 Hoffenheimb	11th	2008–09	14	2008–09	14	0	0	–
1. FC Kölna	16th	1963–64	50	2019–20	3	2	3	1978
RB Leipzigb	2nd	2016–17	6	2016–17	6	0	0	–
Mainz 05	12th	2004–05	16	2009–10	13	0	0	–
VfB Stuttgarta	9th	1963–64	55	2020–21	2	3	5	2007
Union Berlinb	7th	2019–20	3	2019–20	3	0	0	–
VfL Wolfsburgb	4th	1997–98	25	1997–98	25	1	1	2009

SyntaxError: invalid syntax (Temp/ipykernel_5988/3279207523.py, line 1)

In [137]:
df = pd.read_clipboard()
display(df)

print(df.to_string())

Empty DataFrame
Columns: [Dataframes-bequem-erstellen, (writefilemagic, -, read_clipboard)]
Index: []

Empty DataFrame
Columns: [Dataframes-bequem-erstellen, (writefilemagic, -, read_clipboard)]
Index: []

In [138]:

1	Bayern München	Bayern München	18	14	1	3	57:18	39	43
2	Borussia Dortmund	Borussia Dortmund	19	13	1	5	49:29	20	40
3	1899 Hoffenheim	1899 Hoffenheim	18	9	4	5	38:27	11	31
4	SC Freiburg	SC Freiburg	19	8	6	5	31:23	8	30
5	Bayer Leverkusen	Bayer Leverkusen	18	8	5	5	42:30	12	29
6	1. FC Köln	1. FC Köln	18	7	7	4	30:28	2	28
7	1. FC Union Berlin	1. FC Union Berlin	18	7	7	4	25:23	2	28
8	Eintracht Frankfurt	Eintracht Frankfurt	18	7	6	5	29:27	2	27
9	RB Leipzig	RB Leipzig	18	7	4	7	34:23	11	25
10	1. FSV Mainz 05	1. FSV Mainz 05	18	7	3	8	26:21	5	24
11	VfL Bochum	VfL Bochum	18	7	2	9	17:26	-9	23
12	Bor. Mönchengladbach	Bor. Mönchengladbach	18	6	4	8	24:33	-9	22
13	Hertha BSC	Hertha BSC	18	6	3	9	21:38	-17	21
14	VfL Wolfsburg	VfL Wolfsburg	18	6	2	10	17:30	-13	20
15	VfB Stuttgart	VfB Stuttgart	18	4	6	8	22:31	-9	18
16	FC Augsburg	FC Augsburg	18	4	6	8	18:29	-11	18
17	Arminia Bielefeld	Arminia Bielefeld	18	3	8	7	16:24	-8	17
18	SpVgg Greuther Fürth	SpVgg Greuther Fürth	18	1	3	14	13:49	-36	6

SyntaxError: invalid syntax (Temp/ipykernel_5988/508023305.py, line 1)

**Die Spaltennamen** wurden nicht erkannt dabei, hierfür müssten wir anderen
Funktionen verwenden z.B. scraping

## Bundesliga Tabelle 2022-01-14

In [120]:
df = pd.read_clipboard()
display(df)

print(df.to_string())

,1,Bayern München,Bayern München.1,18,14,1.1,3,57:18,39,43
0,2,Borussia Dortmund,Borussia Dortmund,19,13,1,5,49:29,20,40
1,3,1899 Hoffenheim,1899 Hoffenheim,18,9,4,5,38:27,11,31
2,4,SC Freiburg,SC Freiburg,19,8,6,5,31:23,8,30
3,5,Bayer Leverkusen,Bayer Leverkusen,18,8,5,5,42:30,12,29
4,6,1. FC Köln,1. FC Köln,18,7,7,4,30:28,2,28
5,7,1. FC Union Berlin,1. FC Union Berlin,18,7,7,4,25:23,2,28
6,8,Eintracht Frankfurt,Eintracht Frankfurt,18,7,6,5,29:27,2,27
7,9,RB Leipzig,RB Leipzig,18,7,4,7,34:23,11,25
8,10,1. FSV Mainz 05,1. FSV Mainz 05,18,7,3,8,26:21,5,24
9,11,VfL Bochum,VfL Bochum,18,7,2,9,17:26,-9,23
10,12,Bor. Mönchengladbach,Bor. Mönchengladbach,18,6,4,8,24:33,-9,22
11,13,Hertha BSC,Hertha BSC,18,6,3,9,21:38,-17,21
12,14,VfL Wolfsburg,VfL Wolfsburg,18,6,2,10,17:30,-13,20
13,15,VfB Stuttgart,VfB Stuttgart,18,4,6,8,22:31,-9,18
14,16,FC Augsburg,FC Augsburg,18,4,6,8,18:29,-11,18
15,17,Arminia Bielefeld,Arminia Bielefeld,18,3,8,7,16:24,-8,17
16,18,SpVgg Greuther Fürth,SpVgg Greuther Fürth,18,1,3,14,13:49,-36,6

     1        Bayern München      Bayern München.1  18  14  1.1   3  57:18  39  43
0    2     Borussia Dortmund     Borussia Dortmund  19  13    1   5  49:29  20  40
1    3       1899 Hoffenheim       1899 Hoffenheim  18   9    4   5  38:27  11  31
2    4           SC Freiburg           SC Freiburg  19   8    6   5  31:23   8  30
3    5      Bayer Leverkusen      Bayer Leverkusen  18   8    5   5  42:30  12  29
4    6            1. FC Köln            1. FC Köln  18   7    7   4  30:28   2  28
5    7    1. FC Union Berlin    1. FC Union Berlin  18   7    7   4  25:23   2  28
6    8   Eintracht Frankfurt   Eintracht Frankfurt  18   7    6   5  29:27   2  27
7    9            RB Leipzig            RB Leipzig  18   7    4   7  34:23  11  25
8   10       1. FSV Mainz 05       1. FSV Mainz 05  18   7    3   8  26:21   5  24
9   11            VfL Bochum            VfL Bochum  18   7    2   9  17:26  -9  23
10  12  Bor. Mönchengladbach  Bor. Mönchengladbach  18   6    4   8  24:33  -9  22
11  13            Hertha BSC            Hertha BSC  18   6    3   9  21:38 -17  21
12  14         VfL Wolfsburg         VfL Wolfsburg  18   6    2  10  17:30 -13  20
13  15         VfB Stuttgart         VfB Stuttgart  18   4    6   8  22:31  -9  18
14  16           FC Augsburg           FC Augsburg  18   4    6   8  18:29 -11  18
15  17     Arminia Bielefeld     Arminia Bielefeld  18   3    8   7  16:24  -8  17
16  18  SpVgg Greuther Fürth  SpVgg Greuther Fürth  18   1    3  14  13:49 -36   6

In [123]:
df = pd.read_clipboard()
display(df)

print(df.to_string())

Empty DataFrame
Columns: [#, Mannschaft, Sp., S, U, N, Tore, Diff., Pkt.]
Index: []

Empty DataFrame
Columns: [#, Mannschaft, Sp., S, U, N, Tore, Diff., Pkt.]
Index: []

In [ ]:
#		Mannschaft	Sp.	S	U	N	Tore	Diff.	Pkt.